<aside class="sidebar">
  <ul class="sidebar-menu">
    <li><a href="/admin">Dashboard</a></li>
    <li><a href="/admin/manage-washingpoints">Manage Washing Points</a></li>
    <li><a href="/admin/all-bookings">View All Bookings</a></li>
    <li><a href="/admin/reports">Reports</a></li>
    <li><a href="/admin/settings">Settings</a></li>
    <li><a href="/admin/logout">Logout</a></li>
  </ul>
</aside>
